<nav id="nav">
	<img id="profile" src="/assets/images/profile.png" alt="">
	<ul id="menu">
		<li id="label1" class="label selected"><span>最新文章</span></li>
		<li id="label2" class="label"><sapn>MySQL 高性能和调优</sapn></li>
		<li id="label3" class="label"><span>Zend Framework / PHP / Drupal 系</span></li>
		<li id="label4" class="label"><span>系统设计与架构</span></li>
		<li id="label5" class="label"><span>我的项目</span></li>
		<li id="label6" class="label"><span>Github</span></li>
		<a id="about" href="/">About</a>
	</ul>
	<a id="contact_me" href="mailto:397420507@qq.com?Subject=Hi%20江南子文"></a>
	<a id="rss" href="/rss.xml" target="blank"></a>
</nav>